<!doctype html>
<html lang="en">
<head>

    <title>Randomiser</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>The Great Randomiser</h1>


<div>
    #parse($template)
</div>

</body>
</html>